# Ignore SBT! working directory #

/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/

.eclipse
.cache
.history

*.iml
*.eml

dist
logs
target
tmp
test-result

server.pid

tmp/
bin/
project/project
project/target

/out
/db
/modules
/target

/logs/
/dist/
/.idea
/*.iml
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

.idea/

project/activator-sbt-echo-play-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
